* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  div.logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;

    // grow, shrink,basis
    flex: 3 1 200px;
    img {
      width: 6vw;
      height: 6vw;
    }
  }
  nav {
    flex: 2 1 400px;
    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      li {
        a {
          color: #09777d;
          text-decoration: none;
          font-size: 1.25rem;
        }
      }
    }
  }
}

main {
  section.backgroundImg {
    min-height: 30vh;
    width: 100%;
    background-image: url("../Pictures/pexels-photo-416676.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  h3 {
    font-size: 3rem;
    color: white;
    margin: 1.5rem;
  }
  button.start {
    background-color: rgb(15, 219, 219);
    color: white;
    padding: 1rem 1.5rem;
    margin: 0rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 1.25rem;
    cursor: pointer;
  }
  div.filter {
    background-color: rgba(0, 0, 0, 0.2);
    min-height: 30vh;
    width: 100%;
    position: absolute;
    z-index: -1;
  }

  section.partTwo {
    //min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    // background-color: rgb(62, 233, 176);
    h2 {
      font-size: 1.3rem;
      padding: 1rem 2rem;
    }
    section.cards {
      //   background-color: rgb(82, 245, 245);
      display: flex;
      //border: 2px solid red;
      width: 80%;
      height: 30vh;
      div.card {
        display: flex;
        flex-direction: column;
        align-items: center;
        //border: 2px solid blue;
        justify-content: space-around;
        flex: 1 1 300px;
        img {
          width: 15vw;
          height: 15vw;
          border-radius: 50%;
        }
        h4 {
          font-size: 2rem;
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40vh;
  div.logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;

    // grow, shrink,basis
    flex: 3 1 200px;
    img {
      width: 6vw;
      height: 6vw;
    }
  }

  nav {
    width: 40%;
    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      width: 100%;
      li {
        a {
          color: black;
          text-decoration: none;
          font-size: 1.5rem;
        }
      }
    }
  }
  section.links {
    img {
      width: 5vw;
      height: 5vw;
    }
  }
}

@media screen and (max-width: 500px) {
  header {
    div.logo {
      margin-left: 0rem;
      img {
        width: 13vw;
        height: 13vw;
      }
    }
  }
  main {
    section.partTwo {
      section.cards {
        div.card {
          img {
            width: 20vw;
            height: 20vw;
          }
        }
      }
    }
  }
}
